
.container-button-theme{
    z-index: 1;

    position: fixed;
    top: 32px;
    right: 32px;

    height: 36px;
    width: 36px;

    transform: rotate(0deg);
    cursor: pointer;

    transition: var(--transition);

    &:hover{
        transform: rotate(45deg);
    }

    .icon-light-theme,
    .icon-dark-theme{
        position: absolute;

        height: 100%;
        width: 100%;

        fill: var(--color-black-toggle);

        opacity: 0;

        &.status-active{
            opacity: 1;
        }
    }
}
