
//     Project colors 
// -----------------------------
// Primary:              #00ffaf
// Secondary:            #00ccff
// -----------------------------
// Background:           #0a192f
// Background light:     #112240
// Background dark:      #08101e
// -----------------------------
// HTML:                 #ffa500
// CSS:                  #109dfa
// SASS:                 #cf649a
// Java Scrippt:         #fff000
// jQuery:               #3f71da
// React:                #5ed3f3
// Git:                  #e84e31
// -----------------------------
// Tipograpy:            #0e1318
// Tipograpy dark:       #eef0ff
// -----------------------------

//Primary
$color-primary: #00ffaf;
$color-primary-10: #00ffaf1a;

//Secondary
$color-secondary: #00ccff;
$color-secondary-10: #00ccff1a;

//Background color
$color-background: #0a192f;
$color-background-light: #112240;
$color-background-dark:#08101e;

//HTML
$color-primary-html: #ffa500;
$color-secondary-html: #ff0000;

//CSS 
$color-primary-css: #109dfa;
$color-secondary-css: #103a9d;

//SASS
$color-primary-sass: #cf649a;
$color-secondary-sass: #9f0452;

//Java Scrippt
$color-primary-js: #fff000;
$color-secondary-js: #ffa500;

//jQuery
$color-primary-jquery: #3f71da;
$color-secondary-jquery: #0836ae;

//React
$color-primary-react: #5ed3f3;
$color-secondary-react: #11748f;

//Git
$color-primary-git: #e84e31;
$color-secondary-git: #9b210b;

//Dark - Basic
$color-white: #000000;
$color-black: #ffffff;

//Dark - Tipograpy
$color-tipograpy: #eef0ff;
$color-tipograpy-975: #eef0fff9;
$color-tipograpy-60: #eef0ff99;

//Dark - State
$color-state-inactive: #4d4d4d;