@import "./_colors.scss";

body{
    
    
    // Color - Primary
    .color-primary{
        color: $color-primary;
        
        &-hover:hover,
        &-active:active,
        &-focus:focus{
            color: $color-secondary;
        }
    }

    // Color - Secondary
    .color-secondary{
        color: $color-secondary;
    }

    // Color - HTML
    .color-html{
        color: $color-primary-html;

        &-secondary{
            color: $color-secondary-html;
        }

        &-hover:hover,
        &-active:active,
        &-focus:focus{
            color: $color-secondary-html;
        }

        &-gradient{
            background-image: linear-gradient(90deg, $color-primary-html, $color-secondary-html);
        }
    }

    // Color - CSS
    .color-css{
        color: $color-primary-css;

        &-secondary{
            color: $color-secondary-css;
        }

        &-hover:hover,
        &-active:active,
        &-focus:focus{
            color: $color-secondary-css;
        }

        &-gradient{
            background-image: linear-gradient(90deg, $color-primary-css, $color-secondary-css);
        }
    }

    // Color - SASS
    .color-sass{
        color: $color-primary-sass;

        &-secondary{
            color: $color-secondary-sass;
        }

        &-hover:hover,
        &-active:active,
        &-focus:focus{
            color: $color-secondary-sass;
        }

        &-gradient{
            background-image: linear-gradient(90deg, $color-primary-sass, $color-secondary-sass);
        }
    }

    // Color - Java Script
    .color-js{
        color: $color-primary-js;

        &-secondary{
            color: $color-secondary-js;
        }

        &-hover:hover,
        &-active:active,
        &-focus:focus{
            color: $color-secondary-js;
        }

        &-gradient{
            background-image: linear-gradient(90deg, $color-primary-js, $color-secondary-js);
        }
    }

    // Color - jQuery
    .color-jquery{
        color: $color-primary-jquery;

        &-secondary{
            color: $color-secondary-jquery;
        }

        &-hover:hover,
        &-active:active,
        &-focus:focus{
            color: $color-secondary-jquery;
        }

        &-gradient{
            background-image: linear-gradient(90deg, $color-primary-jquery, $color-secondary-jquery);
        }
    }

    // Color - React
    .color-react{
        color: $color-primary-react;

        &-secondary{
            color: $color-secondary-react;
        }

        &-hover:hover,
        &-active:active,
        &-focus:focus{
            color: $color-secondary-react;
        }

        &-gradient{
            background-image: linear-gradient(90deg, $color-primary-react, $color-secondary-react);
        }
    }

    // Color - Git
    .color-git{
        color: $color-primary-git;

        &-secondary{
            color: $color-secondary-git;
        }
        
        &-hover:hover,
        &-active:active,
        &-focus:focus{
            color: $color-secondary-git;
        }

        &-gradient{
            background-image: linear-gradient(90deg, $color-primary-git, $color-secondary-git);
        }
    }
}

body.dark-theme{

    // Color - Tipograpy
    $color-tipograpy: #ffffff;
    
    // crear variables colors habituals body etc i generar el dark theme aplicant la class .dark theme al body
}