body .initial-animation {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--color-background-primary);
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-x4);
}
body .initial-animation.status-active {
  opacity: 1;
  pointer-events: all;
}

@keyframes reveal-cards-when-scrolling {
  from {
    opacity: 0;
    transform: translate(0, 64px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}
html body {
  background-color: var(--color-background-primary);
  color: var(--color-tipography);
  font-family: var(--tipography);
  transition: var(--transition);
}
html body ::selection {
  color: var(--color-selection-text);
  background-color: var(--color-selection-background);
}
html body main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
html body main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 64px 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  color: var(--color-typography);
  line-height: 1.3;
  font-weight: 700;
  transition: var(--transition);
}

h2 {
  font-size: 24px;
}

h3,
h4 {
  font-size: 20px;
}

p,
a,
li,
label {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.3;
  transition: var(--transition);
}

p {
  color: var(--color-typography);
  opacity: 70%;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a.color-secondary {
  color: var(--color-secondary);
}
a.color-accent {
  color: var(--color-accent);
}

ul li {
  list-style: none;
}

.container-980,
.container-1200,
.container-1440,
.container-100 {
  width: 100%;
  padding: 0 24px;
}

.container-980 {
  max-width: 980px;
}

.container-1200 {
  max-width: 1200px;
}

.container-1440 {
  max-width: 1440px;
}

.container-100 {
  max-width: 100%;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.hyphens {
  -o-webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-webkit-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  -o-hyphenate-limit-chars: 12;
  -ms-hyphenate-limit-chars: 12;
  -moz-hyphenate-limit-chars: 12;
  -webkit-hyphenate-limit-chars: 12;
  hyphenate-limit-chars: 12;
}

.word-break-break-word {
  word-break: break-word;
}

.text-wrap-balance {
  text-wrap: balance;
}

.text-wrap-pretty {
  text-wrap: pretty;
}

/*--------------------------------------------------------------
    @media - Mobile First
--------------------------------------------------------------*/
/*--------------------------------------------------------------
    @media - Mobile First - Range syntax
--------------------------------------------------------------*/
.display-grid-container {
  display: grid;
  gap: 24px;
}
.display-grid-container.columns-desktop-4 {
  grid-template-columns: repeat(4, 1fr);
}
.display-grid-container.columns-desktop-3 {
  grid-template-columns: repeat(3, 1fr);
}
.display-grid-container.columns-desktop-2 {
  grid-template-columns: repeat(2, 1fr);
}
.display-grid-container.columns-desktop-1 {
  grid-template-columns: repeat(1, 1fr);
}

@media (max-width: 1488px) {
  body .display-grid-container.columns-laptop-large-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  body .display-grid-container.columns-laptop-large-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  body .display-grid-container.columns-laptop-large-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  body .display-grid-container.columns-laptop-large-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 1388px) {
  body .display-grid-container.columns-laptop-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  body .display-grid-container.columns-laptop-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  body .display-grid-container.columns-laptop-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  body .display-grid-container.columns-laptop-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 1288px) {
  body .display-grid-container.columns-laptop-small-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  body .display-grid-container.columns-laptop-small-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  body .display-grid-container.columns-laptop-small-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  body .display-grid-container.columns-laptop-small-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 1024px) {
  body .display-grid-container.columns-tablet-large-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  body .display-grid-container.columns-tablet-large-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  body .display-grid-container.columns-tablet-large-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  body .display-grid-container.columns-tablet-large-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 924px) {
  body .display-grid-container.columns-tablet-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  body .display-grid-container.columns-tablet-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  body .display-grid-container.columns-tablet-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  body .display-grid-container.columns-tablet-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 824px) {
  body .display-grid-container.columns-tablet-small-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  body .display-grid-container.columns-tablet-small-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  body .display-grid-container.columns-tablet-small-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  body .display-grid-container.columns-tablet-small-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 724px) {
  body .display-grid-container.columns-mobile-large-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  body .display-grid-container.columns-mobile-large-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  body .display-grid-container.columns-mobile-large-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  body .display-grid-container.columns-mobile-large-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 624px) {
  body .display-grid-container.columns-mobile-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  body .display-grid-container.columns-mobile-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  body .display-grid-container.columns-mobile-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  body .display-grid-container.columns-mobile-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 524px) {
  body .display-grid-container.columns-mobile-small-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  body .display-grid-container.columns-mobile-small-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  body .display-grid-container.columns-mobile-small-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  body .display-grid-container.columns-mobile-small-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}
@keyframes arrow-bouncing {
  0% {
    transform: translate(0%, 10%) rotate(90deg);
  }
  50% {
    transform: translate(0%, -10%) rotate(90deg);
  }
  100% {
    transform: translate(0%, 10%) rotate(90deg);
  }
}
.container-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.container-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-icon .icon-filetype-pdf {
  height: 88px;
  width: 88px;
}
.container-icon .icon-filetype-pdf:nth-of-type(1) {
  fill: var(--color-primary);
}
.container-icon .icon-filetype-pdf:nth-of-type(2) {
  fill: var(--color-secondary);
}
.container-icon .icon-filetype-pdf:nth-of-type(3) {
  fill: var(--color-accent);
}

.card-container .card-preformated {
  overflow: auto;
  background-color: #292929;
  color: #ffffff;
}
.card-container .card-preformated::-webkit-scrollbar-thumb {
  border: solid 0px #292929;
}
.card-container .card-preformated pre {
  height: 100%;
  width: 100%;
}
.card-container .card-preformated xmp {
  display: inline;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

.card.card-quick-start {
  height: 250px;
  animation: reveal-cards-when-scrolling linear both;
  animation-timeline: view();
  animation-range: entry -20% cover 20%;
}
.card.card-quick-start.status-active, .card.card-quick-start:hover {
  box-shadow: 0 24px 24px -16px var(--color-primary-10);
}
.card.card-quick-start.color-secondary {
  border: solid 2px var(--color-secondary-10);
}
.card.card-quick-start.color-secondary:hover {
  box-shadow: 0 24px 24px -16px var(--color-secondary-10);
}
.card.card-quick-start.color-accent {
  border: solid 2px var(--color-accent-10);
}
.card.card-quick-start.color-accent:hover {
  box-shadow: 0 24px 24px -16px var(--color-accent-10);
}
.card.card-quick-start.ancor {
  position: relative;
  margin-bottom: 302px;
}
.card.card-quick-start.ancor a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 24px;
  transform: translate(-50%, -50%);
  height: 48px;
  width: 48px;
  border-radius: 8px;
  box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent;
  transition: var(--transition);
}
.card.card-quick-start.ancor a:hover {
  box-shadow: 0 0 0 1.5px transparent, 0 0 0 3.5px var(--color-primary);
}
.card.card-quick-start.ancor a .icon-arrow {
  height: 32px;
  width: 32px;
  animation-name: arrow-bouncing;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.card.card-quick-start.ancor #card-content {
  position: absolute;
  top: 274px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0;
  height: fit-content;
  border: none;
  mask-image: linear-gradient(black 80%, transparent);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 250px;
  border-radius: var(--border-radius);
}
.card.card-quick-start.ancor #card-content img {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: var(--border-radius);
}

/*--------------------------------------------------------------
    @media - Mobile First
--------------------------------------------------------------*/
@media (min-width: 769px) {
  body .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1201px) {
  body .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*# sourceMappingURL=index.css.map */
