:root {

  body {

    // Primary
    --color-primary-active: #003eff;
    --color-primary-focus: #0052ff;
    --color-primary-hover: #0052ff;

    --color-primary: #0066ff;

    --color-primary-98: #0066fffa;
    --color-primary-96: #0066fff5;
    --color-primary-94: #0066fff0;
    --color-primary-92: #0066ffeb;
    --color-primary-90: #0066ffe6;
    --color-primary-88: #0066ffe0;
    --color-primary-86: #0066ffdb;
    --color-primary-84: #0066ffd6;
    --color-primary-82: #0066ffd1;
    --color-primary-80: #0066ffcc;
    --color-primary-78: #0066ffc7;
    --color-primary-76: #0066ffc2;
    --color-primary-74: #0066ffbd;
    --color-primary-72: #0066ffb8;
    --color-primary-70: #0066ffb3;
    --color-primary-68: #0066ffad;
    --color-primary-66: #0066ffa8;
    --color-primary-64: #0066ffa3;
    --color-primary-62: #0066ff9e;
    --color-primary-60: #0066ff99;
    --color-primary-58: #0066ff94;
    --color-primary-56: #0066ff8f;
    --color-primary-54: #0066ff8a;
    --color-primary-52: #0066ff85;
    --color-primary-50: #0066ff80;
    --color-primary-48: #0066ff7a;
    --color-primary-46: #0066ff75;
    --color-primary-44: #0066ff70;
    --color-primary-42: #0066ff6b;
    --color-primary-40: #0066ff66;
    --color-primary-38: #0066ff61;
    --color-primary-36: #0066ff5c;
    --color-primary-34: #0066ff57;
    --color-primary-32: #0066ff52;
    --color-primary-30: #0066ff4d;
    --color-primary-28: #0066ff47;
    --color-primary-26: #0066ff42;
    --color-primary-24: #0066ff3d;
    --color-primary-22: #0066ff38;
    --color-primary-20: #0066ff33;
    --color-primary-18: #0066ff2e;
    --color-primary-16: #0066ff29;
    --color-primary-14: #0066ff24;
    --color-primary-12: #0066ff1f;
    --color-primary-10: #0066ff1a;
    --color-primary-8: #0066ff14;
    --color-primary-6: #0066ff0f;
    --color-primary-4: #0066ff0a;
    --color-primary-2: #0066ff05;

    // Secondary
    --color-secondary-active: #008e8c;
    --color-secondary-focus: #009a97;
    --color-secondary-hover: #00a8a5;

    --color-secondary: #00b7b4;

    --color-secondary-98: #00b7b4fa;
    --color-secondary-96: #00b7b4f5;
    --color-secondary-94: #00b7b4f0;
    --color-secondary-92: #00b7b4eb;
    --color-secondary-90: #00b7b4e6;
    --color-secondary-88: #00b7b4e0;
    --color-secondary-86: #00b7b4db;
    --color-secondary-84: #00b7b4d6;
    --color-secondary-82: #00b7b4d1;
    --color-secondary-80: #00b7b4cc;
    --color-secondary-78: #00b7b4c7;
    --color-secondary-76: #00b7b4c2;
    --color-secondary-74: #00b7b4bd;
    --color-secondary-72: #00b7b4b8;
    --color-secondary-70: #00b7b4b3;
    --color-secondary-68: #00b7b4ad;
    --color-secondary-66: #00b7b4a8;
    --color-secondary-64: #00b7b4a3;
    --color-secondary-62: #00b7b49e;
    --color-secondary-60: #00b7b499;
    --color-secondary-58: #00b7b494;
    --color-secondary-56: #00b7b48f;
    --color-secondary-54: #00b7b48a;
    --color-secondary-52: #00b7b485;
    --color-secondary-50: #00b7b480;
    --color-secondary-48: #00b7b47a;
    --color-secondary-46: #00b7b475;
    --color-secondary-44: #00b7b470;
    --color-secondary-42: #00b7b46b;
    --color-secondary-40: #00b7b466;
    --color-secondary-38: #00b7b461;
    --color-secondary-36: #00b7b45c;
    --color-secondary-34: #00b7b457;
    --color-secondary-32: #00b7b452;
    --color-secondary-30: #00b7b44d;
    --color-secondary-28: #00b7b447;
    --color-secondary-26: #00b7b442;
    --color-secondary-24: #00b7b43d;
    --color-secondary-22: #00b7b438;
    --color-secondary-20: #00b7b433;
    --color-secondary-18: #00b7b42e;
    --color-secondary-16: #00b7b429;
    --color-secondary-14: #00b7b424;
    --color-secondary-12: #00b7b41f;
    --color-secondary-10: #00b7b41a;
    --color-secondary-8: #00b7b414;
    --color-secondary-6: #00b7b40f;
    --color-secondary-4: #00b7b40a;
    --color-secondary-2: #00b7b405;

    // Accent
    --color-accent-active: #8216ee;
    --color-accent-focus: #8b29ff;
    --color-accent-hover: #8b29ff;

    --color-accent: #8b3dff;

    --color-accent-98: #8b3dfffa;
    --color-accent-96: #8b3dfff5;
    --color-accent-94: #8b3dfff0;
    --color-accent-92: #8b3dffeb;
    --color-accent-90: #8b3dffe6;
    --color-accent-88: #8b3dffe0;
    --color-accent-86: #8b3dffdb;
    --color-accent-84: #8b3dffd6;
    --color-accent-82: #8b3dffd1;
    --color-accent-80: #8b3dffcc;
    --color-accent-78: #8b3dffc7;
    --color-accent-76: #8b3dffc2;
    --color-accent-74: #8b3dffbd;
    --color-accent-72: #8b3dffb8;
    --color-accent-70: #8b3dffb3;
    --color-accent-68: #8b3dffad;
    --color-accent-66: #8b3dffa8;
    --color-accent-64: #8b3dffa3;
    --color-accent-62: #8b3dff9e;
    --color-accent-60: #8b3dff99;
    --color-accent-58: #8b3dff94;
    --color-accent-56: #8b3dff8f;
    --color-accent-54: #8b3dff8a;
    --color-accent-52: #8b3dff85;
    --color-accent-50: #8b3dff80;
    --color-accent-48: #8b3dff7a;
    --color-accent-46: #8b3dff75;
    --color-accent-44: #8b3dff70;
    --color-accent-42: #8b3dff6b;
    --color-accent-40: #8b3dff66;
    --color-accent-38: #8b3dff61;
    --color-accent-36: #8b3dff5c;
    --color-accent-34: #8b3dff57;
    --color-accent-32: #8b3dff52;
    --color-accent-30: #8b3dff4d;
    --color-accent-28: #8b3dff47;
    --color-accent-26: #8b3dff42;
    --color-accent-24: #8b3dff3d;
    --color-accent-22: #8b3dff38;
    --color-accent-20: #8b3dff33;
    --color-accent-18: #8b3dff2e;
    --color-accent-16: #8b3dff29;
    --color-accent-14: #8b3dff24;
    --color-accent-12: #8b3dff1f;
    --color-accent-10: #8b3dff1a;
    --color-accent-8: #8b3dff14;
    --color-accent-6: #8b3dff0f;
    --color-accent-4: #8b3dff0a;
    --color-accent-2: #8b3dff05;

    // Background
    --color-background-primary: #fafafa;
    --color-background-primary-light: #ffffff;

    // Typography
    --color-typography: #0f172a;
    --color-typography-white: #ffffff;
    --color-typography-black: #0d1216;

    // Selection
    --color-selection-text: #ffffff;
    --color-selection-background: var(--color-primary);

    // Scrollbar
    --color-scrollbar-thumb: #cfd6e4;

    // Error
    --color-error-text: #a70000;

    --color-error: #fe4444;

    --color-error-98: #fe4444fa;
    --color-error-96: #fe4444f5;
    --color-error-94: #fe4444f0;
    --color-error-92: #fe4444eb;
    --color-error-90: #fe4444e6;
    --color-error-88: #fe4444e0;
    --color-error-86: #fe4444db;
    --color-error-84: #fe4444d6;
    --color-error-82: #fe4444d1;
    --color-error-80: #fe4444cc;
    --color-error-78: #fe4444c7;
    --color-error-76: #fe4444c2;
    --color-error-74: #fe4444bd;
    --color-error-72: #fe4444b8;
    --color-error-70: #fe4444b3;
    --color-error-68: #fe4444ad;
    --color-error-66: #fe4444a8;
    --color-error-64: #fe4444a3;
    --color-error-62: #fe44449e;
    --color-error-60: #fe444499;
    --color-error-58: #fe444494;
    --color-error-56: #fe44448f;
    --color-error-54: #fe44448a;
    --color-error-52: #fe444485;
    --color-error-50: #fe444480;
    --color-error-48: #fe44447a;
    --color-error-46: #fe444475;
    --color-error-44: #fe444470;
    --color-error-42: #fe44446b;
    --color-error-40: #fe444466;
    --color-error-38: #fe444461;
    --color-error-36: #fe44445c;
    --color-error-34: #fe444457;
    --color-error-32: #fe444452;
    --color-error-30: #fe44444d;
    --color-error-28: #fe444447;
    --color-error-26: #fe444442;
    --color-error-24: #fe44443d;
    --color-error-22: #fe444438;
    --color-error-20: #fe444433;
    --color-error-18: #fe44442e;
    --color-error-16: #fe444429;
    --color-error-14: #fe444424;
    --color-error-12: #fe44441f;
    --color-error-10: #fe44441a;
    --color-error-8: #fe444414;
    --color-error-6: #fe44440f;
    --color-error-4: #fe44440a;
    --color-error-2: #fe444405;

    // Warning
    --color-warning-text: #9c5900;

    --color-warning: #f19824;

    --color-warning-98: #f19824fa;
    --color-warning-96: #f19824f5;
    --color-warning-94: #f19824f0;
    --color-warning-92: #f19824eb;
    --color-warning-90: #f19824e6;
    --color-warning-88: #f19824e0;
    --color-warning-86: #f19824db;
    --color-warning-84: #f19824d6;
    --color-warning-82: #f19824d1;
    --color-warning-80: #f19824cc;
    --color-warning-78: #f19824c7;
    --color-warning-76: #f19824c2;
    --color-warning-74: #f19824bd;
    --color-warning-72: #f19824b8;
    --color-warning-70: #f19824b3;
    --color-warning-68: #f19824ad;
    --color-warning-66: #f19824a8;
    --color-warning-64: #f19824a3;
    --color-warning-62: #f198249e;
    --color-warning-60: #f1982499;
    --color-warning-58: #f1982494;
    --color-warning-56: #f198248f;
    --color-warning-54: #f198248a;
    --color-warning-52: #f1982485;
    --color-warning-50: #f1982480;
    --color-warning-48: #f198247a;
    --color-warning-46: #f1982475;
    --color-warning-44: #f1982470;
    --color-warning-42: #f198246b;
    --color-warning-40: #f1982466;
    --color-warning-38: #f1982461;
    --color-warning-36: #f198245c;
    --color-warning-34: #f1982457;
    --color-warning-32: #f1982452;
    --color-warning-30: #f198244d;
    --color-warning-28: #f1982447;
    --color-warning-26: #f1982442;
    --color-warning-24: #f198243d;
    --color-warning-22: #f1982438;
    --color-warning-20: #f1982433;
    --color-warning-18: #f198242e;
    --color-warning-16: #f1982429;
    --color-warning-14: #f1982424;
    --color-warning-12: #f198241f;
    --color-warning-10: #f198241a;
    --color-warning-8: #f1982414;
    --color-warning-6: #f198240f;
    --color-warning-4: #f198240a;
    --color-warning-2: #f1982405;

    // Success
    --color-success-text: #588800;

    --color-success: #7bbf00;

    --color-success-98: #7bbf00fa;
    --color-success-96: #7bbf00f5;
    --color-success-94: #7bbf00f0;
    --color-success-92: #7bbf00eb;
    --color-success-90: #7bbf00e6;
    --color-success-88: #7bbf00e0;
    --color-success-86: #7bbf00db;
    --color-success-84: #7bbf00d6;
    --color-success-82: #7bbf00d1;
    --color-success-80: #7bbf00cc;
    --color-success-78: #7bbf00c7;
    --color-success-76: #7bbf00c2;
    --color-success-74: #7bbf00bd;
    --color-success-72: #7bbf00b8;
    --color-success-70: #7bbf00b3;
    --color-success-68: #7bbf00ad;
    --color-success-66: #7bbf00a8;
    --color-success-64: #7bbf00a3;
    --color-success-62: #7bbf009e;
    --color-success-60: #7bbf0099;
    --color-success-58: #7bbf0094;
    --color-success-56: #7bbf008f;
    --color-success-54: #7bbf008a;
    --color-success-52: #7bbf0085;
    --color-success-50: #7bbf0080;
    --color-success-48: #7bbf007a;
    --color-success-46: #7bbf0075;
    --color-success-44: #7bbf0070;
    --color-success-42: #7bbf006b;
    --color-success-40: #7bbf0066;
    --color-success-38: #7bbf0061;
    --color-success-36: #7bbf005c;
    --color-success-34: #7bbf0057;
    --color-success-32: #7bbf0052;
    --color-success-30: #7bbf004d;
    --color-success-28: #7bbf0047;
    --color-success-26: #7bbf0042;
    --color-success-24: #7bbf003d;
    --color-success-22: #7bbf0038;
    --color-success-20: #7bbf0033;
    --color-success-18: #7bbf002e;
    --color-success-16: #7bbf0029;
    --color-success-14: #7bbf0024;
    --color-success-12: #7bbf001f;
    --color-success-10: #7bbf001a;
    --color-success-8: #7bbf0014;
    --color-success-6: #7bbf000f;
    --color-success-4: #7bbf000a;
    --color-success-2: #7bbf0005;

    // Info
    --color-info-text: #0074ad;

    --color-info: #009dee;

    --color-info-98: #009deefa;
    --color-info-96: #009deef5;
    --color-info-94: #009deef0;
    --color-info-92: #009deeeb;
    --color-info-90: #009deee6;
    --color-info-88: #009deee0;
    --color-info-86: #009deedb;
    --color-info-84: #009deed6;
    --color-info-82: #009deed1;
    --color-info-80: #009deecc;
    --color-info-78: #009deec7;
    --color-info-76: #009deec2;
    --color-info-74: #009deebd;
    --color-info-72: #009deeb8;
    --color-info-70: #009deeb3;
    --color-info-68: #009deead;
    --color-info-66: #009deea8;
    --color-info-64: #009deea3;
    --color-info-62: #009dee9e;
    --color-info-60: #009dee99;
    --color-info-58: #009dee94;
    --color-info-56: #009dee8f;
    --color-info-54: #009dee8a;
    --color-info-52: #009dee85;
    --color-info-50: #009dee80;
    --color-info-48: #009dee7a;
    --color-info-46: #009dee75;
    --color-info-44: #009dee70;
    --color-info-42: #009dee6b;
    --color-info-40: #009dee66;
    --color-info-38: #009dee61;
    --color-info-36: #009dee5c;
    --color-info-34: #009dee57;
    --color-info-32: #009dee52;
    --color-info-30: #009dee4d;
    --color-info-28: #009dee47;
    --color-info-26: #009dee42;
    --color-info-24: #009dee3d;
    --color-info-22: #009dee38;
    --color-info-20: #009dee33;
    --color-info-18: #009dee2e;
    --color-info-16: #009dee29;
    --color-info-14: #009dee24;
    --color-info-12: #009dee1f;
    --color-info-10: #009dee1a;
    --color-info-8: #009dee14;
    --color-info-6: #009dee0f;
    --color-info-4: #009dee0a;
    --color-info-2: #009dee05;

    // Inactive
    --color-inactive-text: #d0d0d0;
    --color-inactive-background: #f0f0f0;

    --color-inactive-background-10: #f9f9f9;

    //Neutral colors
    --color-white: #ffffff;
    --color-grey: #b0b0b0;
    --color-black: #000000;

    //Neutral colors toggle
    --color-white-toggle: #ffffff;

    --color-white-toggle-98: #fffffffa;
    --color-white-toggle-96: #fffffff5;
    --color-white-toggle-94: #fffffff0;
    --color-white-toggle-92: #ffffffeb;
    --color-white-toggle-90: #ffffffe6;
    --color-white-toggle-88: #ffffffe0;
    --color-white-toggle-86: #ffffffdb;
    --color-white-toggle-84: #ffffffd6;
    --color-white-toggle-82: #ffffffd1;
    --color-white-toggle-80: #ffffffcc;
    --color-white-toggle-78: #ffffffc7;
    --color-white-toggle-76: #ffffffc2;
    --color-white-toggle-74: #ffffffbd;
    --color-white-toggle-72: #ffffffb8;
    --color-white-toggle-70: #ffffffb3;
    --color-white-toggle-68: #ffffffad;
    --color-white-toggle-66: #ffffffa8;
    --color-white-toggle-64: #ffffffa3;
    --color-white-toggle-62: #ffffff9e;
    --color-white-toggle-60: #ffffff99;
    --color-white-toggle-58: #ffffff94;
    --color-white-toggle-56: #ffffff8f;
    --color-white-toggle-54: #ffffff8a;
    --color-white-toggle-52: #ffffff85;
    --color-white-toggle-50: #ffffff80;
    --color-white-toggle-48: #ffffff7a;
    --color-white-toggle-46: #ffffff75;
    --color-white-toggle-44: #ffffff70;
    --color-white-toggle-42: #ffffff6b;
    --color-white-toggle-40: #ffffff66;
    --color-white-toggle-38: #ffffff61;
    --color-white-toggle-36: #ffffff5c;
    --color-white-toggle-34: #ffffff57;
    --color-white-toggle-32: #ffffff52;
    --color-white-toggle-30: #ffffff4d;
    --color-white-toggle-28: #ffffff47;
    --color-white-toggle-26: #ffffff42;
    --color-white-toggle-24: #ffffff3d;
    --color-white-toggle-22: #ffffff38;
    --color-white-toggle-20: #ffffff33;
    --color-white-toggle-18: #ffffff2e;
    --color-white-toggle-16: #ffffff29;
    --color-white-toggle-14: #ffffff24;
    --color-white-toggle-12: #ffffff1f;
    --color-white-toggle-10: #ffffff1a;
    --color-white-toggle-8: #ffffff14;
    --color-white-toggle-6: #ffffff0f;
    --color-white-toggle-4: #ffffff0a;
    --color-white-toggle-2: #ffffff05;

    --color-black-toggle: #000000;

    --color-black-toggle-98: #000000fa;
    --color-black-toggle-96: #000000f5;
    --color-black-toggle-94: #000000f0;
    --color-black-toggle-92: #000000eb;
    --color-black-toggle-90: #000000e6;
    --color-black-toggle-88: #000000e0;
    --color-black-toggle-86: #000000db;
    --color-black-toggle-84: #000000d6;
    --color-black-toggle-82: #000000d1;
    --color-black-toggle-80: #000000cc;
    --color-black-toggle-78: #000000c7;
    --color-black-toggle-76: #000000c2;
    --color-black-toggle-74: #000000bd;
    --color-black-toggle-72: #000000b8;
    --color-black-toggle-70: #000000b3;
    --color-black-toggle-68: #000000ad;
    --color-black-toggle-66: #000000a8;
    --color-black-toggle-64: #000000a3;
    --color-black-toggle-62: #0000009e;
    --color-black-toggle-60: #00000099;
    --color-black-toggle-58: #00000094;
    --color-black-toggle-56: #0000008f;
    --color-black-toggle-54: #0000008a;
    --color-black-toggle-52: #00000085;
    --color-black-toggle-50: #00000080;
    --color-black-toggle-48: #0000007a;
    --color-black-toggle-46: #00000075;
    --color-black-toggle-44: #00000070;
    --color-black-toggle-42: #0000006b;
    --color-black-toggle-40: #00000066;
    --color-black-toggle-38: #00000061;
    --color-black-toggle-36: #0000005c;
    --color-black-toggle-34: #00000057;
    --color-black-toggle-32: #00000052;
    --color-black-toggle-30: #0000004d;
    --color-black-toggle-28: #00000047;
    --color-black-toggle-26: #00000042;
    --color-black-toggle-24: #0000003d;
    --color-black-toggle-22: #00000038;
    --color-black-toggle-20: #00000033;
    --color-black-toggle-18: #0000002e;
    --color-black-toggle-16: #00000029;
    --color-black-toggle-14: #00000024;
    --color-black-toggle-12: #0000001f;
    --color-black-toggle-10: #0000001a;
    --color-black-toggle-8: #00000014;
    --color-black-toggle-6: #0000000f;
    --color-black-toggle-4: #0000000a;
    --color-black-toggle-2: #00000005;
  }

  body.dark-theme {

    //Background
    --color-background-primary: #050507;
    --color-background-primary-light: #161621;

    //Typography
    --color-typography: #ffffff;

    //Scrollbar
    --color-scrollbar-thumb: #262628;

    //State
    --color-inactive-text: #3d464d;
    --color-inactive-background: #11171c;

    --color-inactive-background-10: #10161b;

    //Neutral colors toggle
    --color-white-toggle: #000000;

    --color-white-toggle-98: #000000fa;
    --color-white-toggle-96: #000000f5;
    --color-white-toggle-94: #000000f0;
    --color-white-toggle-92: #000000eb;
    --color-white-toggle-90: #000000e6;
    --color-white-toggle-88: #000000e0;
    --color-white-toggle-86: #000000db;
    --color-white-toggle-84: #000000d6;
    --color-white-toggle-82: #000000d1;
    --color-white-toggle-80: #000000cc;
    --color-white-toggle-78: #000000c7;
    --color-white-toggle-76: #000000c2;
    --color-white-toggle-74: #000000bd;
    --color-white-toggle-72: #000000b8;
    --color-white-toggle-70: #000000b3;
    --color-white-toggle-68: #000000ad;
    --color-white-toggle-66: #000000a8;
    --color-white-toggle-64: #000000a3;
    --color-white-toggle-62: #0000009e;
    --color-white-toggle-60: #00000099;
    --color-white-toggle-58: #00000094;
    --color-white-toggle-56: #0000008f;
    --color-white-toggle-54: #0000008a;
    --color-white-toggle-52: #00000085;
    --color-white-toggle-50: #00000080;
    --color-white-toggle-48: #0000007a;
    --color-white-toggle-46: #00000075;
    --color-white-toggle-44: #00000070;
    --color-white-toggle-42: #0000006b;
    --color-white-toggle-40: #00000066;
    --color-white-toggle-38: #00000061;
    --color-white-toggle-36: #0000005c;
    --color-white-toggle-34: #00000057;
    --color-white-toggle-32: #00000052;
    --color-white-toggle-30: #0000004d;
    --color-white-toggle-28: #00000047;
    --color-white-toggle-26: #00000042;
    --color-white-toggle-24: #0000003d;
    --color-white-toggle-22: #00000038;
    --color-white-toggle-20: #00000033;
    --color-white-toggle-18: #0000002e;
    --color-white-toggle-16: #00000029;
    --color-white-toggle-14: #00000024;
    --color-white-toggle-12: #0000001f;
    --color-white-toggle-10: #0000001a;
    --color-white-toggle-8: #00000014;
    --color-white-toggle-6: #0000000f;
    --color-white-toggle-4: #0000000a;
    --color-white-toggle-2: #00000005;

    --color-black-toggle: #ffffff;

    --color-black-toggle-98: #fffffffa;
    --color-black-toggle-96: #fffffff5;
    --color-black-toggle-94: #fffffff0;
    --color-black-toggle-92: #ffffffeb;
    --color-black-toggle-90: #ffffffe6;
    --color-black-toggle-88: #ffffffe0;
    --color-black-toggle-86: #ffffffdb;
    --color-black-toggle-84: #ffffffd6;
    --color-black-toggle-82: #ffffffd1;
    --color-black-toggle-80: #ffffffcc;
    --color-black-toggle-78: #ffffffc7;
    --color-black-toggle-76: #ffffffc2;
    --color-black-toggle-74: #ffffffbd;
    --color-black-toggle-72: #ffffffb8;
    --color-black-toggle-70: #ffffffb3;
    --color-black-toggle-68: #ffffffad;
    --color-black-toggle-66: #ffffffa8;
    --color-black-toggle-64: #ffffffa3;
    --color-black-toggle-62: #ffffff9e;
    --color-black-toggle-60: #ffffff99;
    --color-black-toggle-58: #ffffff94;
    --color-black-toggle-56: #ffffff8f;
    --color-black-toggle-54: #ffffff8a;
    --color-black-toggle-52: #ffffff85;
    --color-black-toggle-50: #ffffff80;
    --color-black-toggle-48: #ffffff7a;
    --color-black-toggle-46: #ffffff75;
    --color-black-toggle-44: #ffffff70;
    --color-black-toggle-42: #ffffff6b;
    --color-black-toggle-40: #ffffff66;
    --color-black-toggle-38: #ffffff61;
    --color-black-toggle-36: #ffffff5c;
    --color-black-toggle-34: #ffffff57;
    --color-black-toggle-32: #ffffff52;
    --color-black-toggle-30: #ffffff4d;
    --color-black-toggle-28: #ffffff47;
    --color-black-toggle-26: #ffffff42;
    --color-black-toggle-24: #ffffff3d;
    --color-black-toggle-22: #ffffff38;
    --color-black-toggle-20: #ffffff33;
    --color-black-toggle-18: #ffffff2e;
    --color-black-toggle-16: #ffffff29;
    --color-black-toggle-14: #ffffff24;
    --color-black-toggle-12: #ffffff1f;
    --color-black-toggle-10: #ffffff1a;
    --color-black-toggle-8: #ffffff14;
    --color-black-toggle-6: #ffffff0f;
    --color-black-toggle-4: #ffffff0a;
    --color-black-toggle-2: #ffffff05;
  }
}