:root {

  body {

    // Primary
    --color-primary-active: #003eff;
    --color-primary-focus: #0052ff;
    --color-primary-hover: #0052ff;

    --color-primary: #0066ff;

    --color-primary-90: #0066ffe6;
    --color-primary-80: #0066ffcc;
    --color-primary-70: #0066ffb3;
    --color-primary-64: #0066ffa3;
    --color-primary-60: #0066ff99;
    --color-primary-50: #0066ff80;
    --color-primary-40: #0066ff66;
    --color-primary-32: #0066ff52;
    --color-primary-30: #0066ff4d;
    --color-primary-24: #0066ff3d;
    --color-primary-20: #0066ff33;
    --color-primary-16: #0066ff29;
    --color-primary-12: #0066ff1f;
    --color-primary-10: #0066ff1a;
    --color-primary-8: #0066ff14;
    --color-primary-6: #0066ff0f;
    --color-primary-4: #0066ff0a;
    --color-primary-2: #0066ff05;
    --color-primary-0: #0066ff00;

    // Secondary
    --color-secondary-active: #008e8c;
    --color-secondary-focus: #009a97;
    --color-secondary-hover: #00a8a5;

    --color-secondary: #00b7b4;

    --color-secondary-90: #00b7b4e6;
    --color-secondary-80: #00b7b4cc;
    --color-secondary-70: #00b7b4b3;
    --color-secondary-64: #00b7b4a3;
    --color-secondary-60: #00b7b499;
    --color-secondary-50: #00b7b480;
    --color-secondary-40: #00b7b466;
    --color-secondary-32: #00b7b452;
    --color-secondary-30: #00b7b44d;
    --color-secondary-24: #00b7b43d;
    --color-secondary-20: #00b7b433;
    --color-secondary-16: #00b7b429;
    --color-secondary-12: #00b7b41f;
    --color-secondary-10: #00b7b41a;
    --color-secondary-8: #00b7b414;
    --color-secondary-6: #00b7b40f;
    --color-secondary-4: #00b7b40a;
    --color-secondary-2: #00b7b405;
    --color-secondary-0: #00b7b400;

    // Accent
    --color-accent-active: #8216ee;
    --color-accent-focus: #8b29ff;
    --color-accent-hover: #8b29ff;

    --color-accent: #8b3dff;

    --color-accent-90: #8b3dffe6;
    --color-accent-80: #8b3dffcc;
    --color-accent-70: #8b3dffb3;
    --color-accent-64: #8b3dffa3;
    --color-accent-60: #8b3dff99;
    --color-accent-50: #8b3dff80;
    --color-accent-40: #8b3dff66;
    --color-accent-32: #8b3dff52;
    --color-accent-30: #8b3dff4d;
    --color-accent-24: #8b3dff3d;
    --color-accent-20: #8b3dff33;
    --color-accent-16: #8b3dff29;
    --color-accent-12: #8b3dff1f;
    --color-accent-10: #8b3dff1a;
    --color-accent-8: #8b3dff14;
    --color-accent-6: #8b3dff0f;
    --color-accent-4: #8b3dff0a;
    --color-accent-2: #8b3dff05;
    --color-accent-0: #8b3dff00;

    // Background
    --color-background-primary: #fafafa;
    --color-background-primary-light: #ffffff;

    // Typography
    --color-typography: #0f172a;
    --color-typography-white: #ffffff;
    --color-typography-black: #0d1216;

    // Selection
    --color-selection-text: #ffffff;
    --color-selection-background: var(--color-primary);

    // Scrollbar
    --color-scrollbar-thumb: #cfd6e4;

    // Error
    --color-error-text: #a70000;

    --color-error: #fe4444;

    --color-error-90: #fe4444e6;
    --color-error-80: #fe4444cc;
    --color-error-70: #fe4444b3;
    --color-error-64: #fe4444a3;
    --color-error-60: #fe444499;
    --color-error-50: #fe444480;
    --color-error-40: #fe444466;
    --color-error-32: #fe444452;
    --color-error-30: #fe44444d;
    --color-error-24: #fe44443d;
    --color-error-20: #fe444433;
    --color-error-16: #fe444429;
    --color-error-12: #fe44441f;
    --color-error-10: #fe44441a;
    --color-error-8: #fe444414;
    --color-error-6: #fe44440f;
    --color-error-4: #fe44440a;
    --color-error-2: #fe444405;
    --color-error-0: #fe444400;

    // Warning
    --color-warning-text: #9c5900;

    --color-warning: #f19824;

    --color-warning-90: #f19824e6;
    --color-warning-80: #f19824cc;
    --color-warning-70: #f19824b3;
    --color-warning-64: #f19824a3;
    --color-warning-60: #f1982499;
    --color-warning-50: #f1982480;
    --color-warning-40: #f1982466;
    --color-warning-32: #f1982452;
    --color-warning-30: #f198244d;
    --color-warning-24: #f198243d;
    --color-warning-20: #f1982433;
    --color-warning-16: #f1982429;
    --color-warning-12: #f198241f;
    --color-warning-10: #f198241a;
    --color-warning-8: #f1982414;
    --color-warning-6: #f198240f;
    --color-warning-4: #f198240a;
    --color-warning-2: #f1982405;
    --color-warning-0: #f1982400;

    // Success
    --color-success-text: #588800;

    --color-success: #7bbf00;

    --color-success-90: #7bbf00e6;
    --color-success-80: #7bbf00cc;
    --color-success-70: #7bbf00b3;
    --color-success-64: #7bbf00a3;
    --color-success-60: #7bbf0099;
    --color-success-50: #7bbf0080;
    --color-success-40: #7bbf0066;
    --color-success-32: #7bbf0052;
    --color-success-30: #7bbf004d;
    --color-success-24: #7bbf003d;
    --color-success-20: #7bbf0033;
    --color-success-16: #7bbf0029;
    --color-success-12: #7bbf001f;
    --color-success-10: #7bbf001a;
    --color-success-8: #7bbf0014;
    --color-success-6: #7bbf000f;
    --color-success-4: #7bbf000a;
    --color-success-2: #7bbf0005;
    --color-success-0: #7bbf0000;

    // Info
    --color-info-text: #0074ad;

    --color-info: #009dee;

    --color-info-90: #009deee6;
    --color-info-80: #009deecc;
    --color-info-70: #009deeb3;
    --color-info-64: #009deea3;
    --color-info-60: #009dee99;
    --color-info-50: #009dee80;
    --color-info-40: #009dee66;
    --color-info-32: #009dee52;
    --color-info-30: #009dee4d;
    --color-info-24: #009dee3d;
    --color-info-20: #009dee33;
    --color-info-16: #009dee29;
    --color-info-12: #009dee1f;
    --color-info-10: #009dee1a;
    --color-info-8: #009dee14;
    --color-info-6: #009dee0f;
    --color-info-4: #009dee0a;
    --color-info-2: #009dee05;
    --color-info-0: #009dee00;

    // Inactive
    --color-inactive-text: #d0d0d0;
    --color-inactive-background: #f0f0f0;

    --color-inactive-background-10: #f9f9f9;

    //Neutral colors
    --color-white: #ffffff;
    --color-grey: #b0b0b0;
    --color-black: #000000;

    //Neutral colors toggle
    --color-white-toggle: #ffffff;
    --color-white-toggle-90: #ffffffe6;
    --color-white-toggle-80: #ffffffcc;
    --color-white-toggle-70: #ffffffb3;
    --color-white-toggle-64: #ffffffa3;
    --color-white-toggle-60: #ffffff99;
    --color-white-toggle-50: #ffffff80;
    --color-white-toggle-40: #ffffff66;
    --color-white-toggle-32: #ffffff52;
    --color-white-toggle-30: #ffffff4d;
    --color-white-toggle-24: #ffffff3d;
    --color-white-toggle-20: #ffffff33;
    --color-white-toggle-16: #ffffff29;
    --color-white-toggle-12: #ffffff1f;
    --color-white-toggle-10: #ffffff1a;
    --color-white-toggle-8: #ffffff14;
    --color-white-toggle-6: #ffffff0f;
    --color-white-toggle-4: #ffffff0a;
    --color-white-toggle-2: #ffffff05;
    --color-white-toggle-0: #ffffff00;

    --color-black-toggle: #000000;
    --color-black-toggle-90: #000000e6;
    --color-black-toggle-80: #000000cc;
    --color-black-toggle-70: #000000b3;
    --color-black-toggle-64: #000000a3;
    --color-black-toggle-60: #00000099;
    --color-black-toggle-50: #00000080;
    --color-black-toggle-40: #00000066;
    --color-black-toggle-32: #00000052;
    --color-black-toggle-30: #0000004d;
    --color-black-toggle-24: #0000003d;
    --color-black-toggle-20: #00000033;
    --color-black-toggle-16: #00000029;
    --color-black-toggle-12: #0000001f;
    --color-black-toggle-10: #0000001a;
    --color-black-toggle-8: #00000014;
    --color-black-toggle-6: #0000000f;
    --color-black-toggle-4: #0000000a;
    --color-black-toggle-2: #00000005;
    --color-black-toggle-0: #00000000;
  }

  body.dark-theme {

    //Background
    --color-background-primary: #050507;
    --color-background-primary-light: #161621;

    //Typography
    --color-typography: #ffffff;

    //Scrollbar
    --color-scrollbar-thumb: #262628;

    //State
    --color-inactive-text: #3d464d;
    --color-inactive-background: #11171c;

    --color-inactive-background-10: #10161b;

    //Neutral colors toggle
    --color-white-toggle: #000000;
    --color-white-toggle-90: #000000e6;
    --color-white-toggle-80: #000000cc;
    --color-white-toggle-70: #000000b3;
    --color-white-toggle-64: #000000a3;
    --color-white-toggle-60: #00000099;
    --color-white-toggle-50: #00000080;
    --color-white-toggle-40: #00000066;
    --color-white-toggle-32: #00000052;
    --color-white-toggle-30: #0000004d;
    --color-white-toggle-24: #0000003d;
    --color-white-toggle-20: #00000033;
    --color-white-toggle-16: #00000029;
    --color-white-toggle-12: #0000001f;
    --color-white-toggle-10: #0000001a;
    --color-white-toggle-8: #00000014;
    --color-white-toggle-6: #0000000f;
    --color-white-toggle-4: #0000000a;
    --color-white-toggle-2: #00000005;
    --color-white-toggle-0: #00000000;

    --color-black-toggle: #ffffff;
    --color-black-toggle-90: #ffffffe6;
    --color-black-toggle-80: #ffffffcc;
    --color-black-toggle-70: #ffffffb3;
    --color-black-toggle-64: #ffffffa3;
    --color-black-toggle-60: #ffffff99;
    --color-black-toggle-50: #ffffff80;
    --color-black-toggle-40: #ffffff66;
    --color-black-toggle-32: #ffffff52;
    --color-black-toggle-30: #ffffff4d;
    --color-black-toggle-24: #ffffff3d;
    --color-black-toggle-20: #ffffff33;
    --color-black-toggle-16: #ffffff29;
    --color-black-toggle-12: #ffffff1f;
    --color-black-toggle-10: #ffffff1a;
    --color-black-toggle-8: #ffffff14;
    --color-black-toggle-6: #ffffff0f;
    --color-black-toggle-4: #ffffff0a;
    --color-black-toggle-2: #ffffff05;
    --color-black-toggle-0: #ffffff00;
  }
}