:root {

  body {

    //Tipography
    --tipography: 'Poppins', sans-serif;

    //Border
    --border-radius: 10px;
    --border-radius-50: 50px;

    --border-width: 1px;

    //Transition
    --transition-fast: all 0.10s ease;
    --transition: all 0.14s ease;
    --transition-slow: all 0.20s ease;

    --transition-time: 0.14s;
    --transition-ease: ease;
  }
}