
:root{

    body{

        //Tipography
        --tipography: 'Poppins', sans-serif;

        //Border
        --border-radius: 10px;
        --border-radius-50: 50px;
        --border-radius-top: 10px 10px 0 0;
        --border-radius-top-right: 0 10px 0 0;
        --border-radius-right: 0 10px 10px 0;
        --border-radius-bottom: 0 0 10px 10px;
        --border-radius-bottom-right: 0 0 10px 0;

        --border-width: 1px;

        //Transition
        --transition: all 0.1s cubic-bezier(0,0,.5,1);
        --transition-x2: all 0.2s cubic-bezier(0,0,.5,1);
        --transition-x4: all 0.4s cubic-bezier(0,0,.5,1);
    }
}
