:root body {
  --color-primary-active: #003eff;
  --color-primary-focus: #0052ff;
  --color-primary-hover: #0052ff;
  --color-primary: #0066ff;
  --color-primary-80: #0066ffcc;
  --color-primary-50: #0066ff80;
  --color-primary-30: #0066ff4d;
  --color-primary-20: #0066ff33;
  --color-primary-10: #0066ff1a;
  --color-primary-06: #0066ff0f;
  --color-secondary-active: #8216ee;
  --color-secondary-focus: #8b29ff;
  --color-secondary-hover: #8b29ff;
  --color-secondary: #8b3dff;
  --color-secondary-80: #8b3dffcc;
  --color-secondary-50: #8b3dff80;
  --color-secondary-20: #8b3dff33;
  --color-secondary-10: #8b3dff1a;
  --color-accent-active: #00fa78;
  --color-accent-focus: #00fa8c;
  --color-accent-hover: #00fa8c;
  --color-accent: #00faa0;
  --color-accent-80: #00faa0cc;
  --color-accent-50: #00faa080;
  --color-accent-20: #00faa033;
  --color-accent-10: #00faa01a;
  --color-background-primary: #ffffff;
  --color-background-secondary: #ffffff;
  --color-typography: #0f172a;
  --color-typography-white: #ffffff;
  --color-typography-black: #0d1216;
  --color-selection-text: #ffffff;
  --color-selection-background: #8b3dff;
  --color-scrollbar-thumb: #cfd6e4;
  --color-state-error-text: #a70000;
  --color-state-error: #fe4444;
  --color-state-error-30: #fe44444d;
  --color-state-error-20: #fe444433;
  --color-state-error-10: #fe44441a;
  --color-state-warning-text: #9c5900;
  --color-state-warning: #f19824;
  --color-state-warning-30: #f198244d;
  --color-state-warning-20: #f1982433;
  --color-state-warning-10: #f198241a;
  --color-state-success-text: #588800;
  --color-state-success: #7bbf00;
  --color-state-success-30: #7bbf004d;
  --color-state-success-20: #7bbf0033;
  --color-state-success-10: #7bbf001a;
  --color-state-info-text: #0074ad;
  --color-state-info: #009dee;
  --color-state-info-70: #009deeb3;
  --color-state-info-30: #009dee4d;
  --color-state-info-20: #009dee33;
  --color-state-info-10: #009dee1a;
  --color-state-inactive-text: #d0d0d0;
  --color-state-inactive-background: #f0f0f0;
  --color-state-inactive-background-10: #f9f9f9;
  --color-white: #ffffff;
  --color-grey: #b0b0b0;
  --color-black: #000000;
  --color-white-toggle: #ffffff;
  --color-white-toggle-24: #ffffff3D;
  --color-white-toggle-32: #ffffff52;
  --color-white-toggle-44: #ffffff70;
  --color-black-toggle: #000000;
  --color-black-toggle-24: #0000003D;
  --color-black-toggle-32: #00000052;
  --color-black-toggle-44: #00000070;
}
:root body.dark-theme {
  --color-background-primary: #0d1216;
  --color-background-secondary: #0d0e15;
  --color-typography: #ffffff;
  --color-scrollbar-thumb: #262628;
  --color-state-inactive-text: #3d464d;
  --color-state-inactive-background: #11171c;
  --color-state-inactive-background-10: #10161b;
  --color-white-toggle: #000000;
  --color-white-toggle-24: #0000003D;
  --color-white-toggle-32: #00000052;
  --color-white-toggle-44: #00000070;
  --color-black-toggle: #ffffff;
  --color-black-toggle-24: #ffffff3D;
  --color-black-toggle-32: #ffffff52;
  --color-black-toggle-44: #ffffff70;
}

/*# sourceMappingURL=colors.css.map */
