$super-fast-transition: 0.05125s ease-in-out;
$fast-transition: 0.125s ease-in-out;
$transition: 0.25s ease-in-out;
$slow-transition: 0.5s ease-in-out;
$super-slow-transition: 1s ease-in-out;

$shadow: 0 0 10px rgba(0, 0, 0, 0.1);