// Mobile first (320px - 512px)
body {

  .container-display-grid {
    display: grid;
    gap: 24px;

    &.columns-mobile-small-1 {
      grid-template-columns: repeat(1, 1fr);
    }

    &.columns-mobile-small-2 {
      grid-template-columns: repeat(2, 1fr);
    }

    &.columns-mobile-small-3 {
      grid-template-columns: repeat(3, 1fr);
    }

    &.columns-mobile-small-4 {
      grid-template-columns: repeat(4, 1fr);
    }

    &.columns-mobile-small-5 {
      grid-template-columns: repeat(5, 1fr);
    }

    &.columns-mobile-small-6 {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}

// Mobile M (513px - 625px)
@media (min-width: 513px) {

  body {

    .container-display-grid {

      &.columns-mobile-1 {
        grid-template-columns: repeat(1, 1fr);
      }

      &.columns-mobile-2 {
        grid-template-columns: repeat(2, 1fr);
      }

      &.columns-mobile-3 {
        grid-template-columns: repeat(3, 1fr);
      }

      &.columns-mobile-4 {
        grid-template-columns: repeat(4, 1fr);
      }

      &.columns-mobile-5 {
        grid-template-columns: repeat(5, 1fr);
      }

      &.columns-mobile-6 {
        grid-template-columns: repeat(6, 1fr);
      }
    }
  }
}

// Mobile L (626px - 734px)
@media (min-width: 626px) {

  body {

    .container-display-grid {

      &.columns-mobile-large-1 {
        grid-template-columns: repeat(1, 1fr);
      }

      &.columns-mobile-large-2 {
        grid-template-columns: repeat(2, 1fr);
      }

      &.columns-mobile-large-3 {
        grid-template-columns: repeat(3, 1fr);
      }

      &.columns-mobile-large-4 {
        grid-template-columns: repeat(4, 1fr);
      }

      &.columns-mobile-large-5 {
        grid-template-columns: repeat(5, 1fr);
      }

      &.columns-mobile-large-6 {
        grid-template-columns: repeat(6, 1fr);
      }
    }
  }
}

// Tablet S (735px - 860px)
@media (min-width: 735px) {

  body {

    .container-display-grid {

      &.columns-tablet-small-1 {
        grid-template-columns: repeat(1, 1fr);
      }

      &.columns-tablet-small-2 {
        grid-template-columns: repeat(2, 1fr);
      }

      &.columns-tablet-small-3 {
        grid-template-columns: repeat(3, 1fr);
      }

      &.columns-tablet-small-4 {
        grid-template-columns: repeat(4, 1fr);
      }

      &.columns-tablet-small-5 {
        grid-template-columns: repeat(5, 1fr);
      }

      &.columns-tablet-small-6 {
        grid-template-columns: repeat(6, 1fr);
      }
    }
  }
}

// Tablet M (861px - 960px)
@media (min-width: 861px) {

  body {

    .container-display-grid {

      &.columns-tablet-1 {
        grid-template-columns: repeat(1, 1fr);
      }

      &.columns-tablet-2 {
        grid-template-columns: repeat(2, 1fr);
      }

      &.columns-tablet-3 {
        grid-template-columns: repeat(3, 1fr);
      }

      &.columns-tablet-4 {
        grid-template-columns: repeat(4, 1fr);
      }

      &.columns-tablet-5 {
        grid-template-columns: repeat(5, 1fr);
      }

      &.columns-tablet-6 {
        grid-template-columns: repeat(6, 1fr);
      }
    }
  }
}

// Tablet L (961px - 1068px)
@media (min-width: 961px) {

  body {

    .container-display-grid {

      &.columns-tablet-large-1 {
        grid-template-columns: repeat(1, 1fr);
      }

      &.columns-tablet-large-2 {
        grid-template-columns: repeat(2, 1fr);
      }

      &.columns-tablet-large-3 {
        grid-template-columns: repeat(3, 1fr);
      }

      &.columns-tablet-large-4 {
        grid-template-columns: repeat(4, 1fr);
      }

      &.columns-tablet-large-5 {
        grid-template-columns: repeat(5, 1fr);
      }

      &.columns-tablet-large-6 {
        grid-template-columns: repeat(6, 1fr);
      }
    }
  }
}

// Laptop S (1069px - 1200px)
@media (min-width: 1069px) {

  body {

    .container-display-grid {

      &.columns-laptop-small-1 {
        grid-template-columns: repeat(1, 1fr);
      }

      &.columns-laptop-small-2 {
        grid-template-columns: repeat(2, 1fr);
      }

      &.columns-laptop-small-3 {
        grid-template-columns: repeat(3, 1fr);
      }

      &.columns-laptop-small-4 {
        grid-template-columns: repeat(4, 1fr);
      }

      &.columns-laptop-small-5 {
        grid-template-columns: repeat(5, 1fr);
      }

      &.columns-laptop-small-6 {
        grid-template-columns: repeat(6, 1fr);
      }
    }
  }
}

// Laptop M (1201px - 1300px)
@media (min-width: 1201px) {

  body {

    .container-display-grid {

      &.columns-laptop-1 {
        grid-template-columns: repeat(1, 1fr);
      }

      &.columns-laptop-2 {
        grid-template-columns: repeat(2, 1fr);
      }

      &.columns-laptop-3 {
        grid-template-columns: repeat(3, 1fr);
      }

      &.columns-laptop-4 {
        grid-template-columns: repeat(4, 1fr);
      }

      &.columns-laptop-5 {
        grid-template-columns: repeat(5, 1fr);
      }

      &.columns-laptop-6 {
        grid-template-columns: repeat(6, 1fr);
      }
    }
  }
}

// Laptop L (1301px - 1440px)
@media (min-width: 1301px) {

  body {

    .container-display-grid {

      &.columns-laptop-large-1 {
        grid-template-columns: repeat(1, 1fr);
      }

      &.columns-laptop-large-2 {
        grid-template-columns: repeat(2, 1fr);
      }

      &.columns-laptop-large-3 {
        grid-template-columns: repeat(3, 1fr);
      }

      &.columns-laptop-large-4 {
        grid-template-columns: repeat(4, 1fr);
      }

      &.columns-laptop-large-5 {
        grid-template-columns: repeat(5, 1fr);
      }

      &.columns-laptop-large-6 {
        grid-template-columns: repeat(6, 1fr);
      }
    }
  }
}

// Desktop (1441px and beyond)
@media (min-width: 1441px) {

  body {

    .container-display-grid {

      &.columns-desktop-1 {
        grid-template-columns: repeat(1, 1fr);
      }

      &.columns-desktop-2 {
        grid-template-columns: repeat(2, 1fr);
      }

      &.columns-desktop-3 {
        grid-template-columns: repeat(3, 1fr);
      }

      &.columns-desktop-4 {
        grid-template-columns: repeat(4, 1fr);
      }

      &.columns-desktop-5 {
        grid-template-columns: repeat(5, 1fr);
      }

      &.columns-desktop-6 {
        grid-template-columns: repeat(6, 1fr);
      }
    }
  }
}