@import '../variables.scss';
@import '../colors.scss';

.big-card{
    margin-bottom: 30px;
    color: $typography-color;

    .title{
        margin: 0 15px 10px 15px;
    }
    .title2{
        margin: 0 15px 10px 15px;
    }

    .description,
    [class^="area"]{
        border: 1px solid $grey-color;
        background-color: $light-grey-color;
        box-shadow: $shadow;
        border-radius: 5px;
        margin: 15px;
        padding: 15px;
        line-height: 1.4;
    }

    .description{
        min-height: 110px;
    }

    [class^="area"]{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 250px;

        p{
            font-weight: 700;
        }

        img{
            border-radius: 5px;
            margin-top: 20px;
            max-width: 100%;
        }
        
        .square{
            flex: 1;
            width: 100%;
            background-color: $primary-color;
            border-radius: 5px;
        }
    }

    .area-slide{
        min-height: inherit;
        height: 250px;
    }
}