@import '../variables.scss';

.card{
    margin-bottom: 30px;

    .title{
        margin: 0 15px 10px 15px;
    }

    .description{
        min-height: 100px;
        padding: 15px;
        margin: 0 15px;
        background-color: $border-color;
        border-radius: 5px;
        box-shadow: $shadow;
    }

    [class^="area"]{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 15px;
        padding: 20px 20px 30px 20px;
        min-height: 250px;
        border-radius: 5px;
        box-shadow: $shadow;
        background-color: $border-color;

        p{
            font-weight: 700;
        }

        img{
            border-radius: 5px;
            margin-top: 20px;
            max-width: 100%;
        }
    }

    .left-button{
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin: 0 7.5px 15px 15px;
        height: 50px;
        font-weight: 600;
        border-radius: 5px;
        box-shadow: $shadow;
        background-color: $border-color;
    }
    
    .right-button{
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin: 0 15px 15px 7.5px;
        height: 50px;
        font-weight: 600;
        border-radius: 5px;
        box-shadow: $shadow;
        background-color: $border-color;
    }
}