/*--------------------------------------------------------------
    Custom Responsive Grid
--------------------------------------------------------------*/

.flex-row{
    display: flex;
    flex-wrap: wrap;

    /* és necessari en cas de col·locar 2 flex-row 1 a la esquerra i l'altre a la dreta per evitar que els elements s'expandeixin com en el cas del accordion */
    align-content: flex-start;
}

/* Extra Small devices (phones, 0px and up) */

.flex-xs-1{
    flex: 0 0 100%;
}
.flex-xs-2{
    flex: 0 0 50%;
}

/*--------------------------------------------------------------
    @media - Mobile First
--------------------------------------------------------------*/

/* sm - Small devices (landscape phones - 576px and up) */
@media (min-width: 576px) {
    .flex-sm-1{
        flex: 0 0 100%;
    }
    .flex-sm-80p{
        flex: 0 0 80%;
    }
    .flex-sm-70p{
        flex: 0 0 70%;
    }
    .flex-sm-66p{
        flex: 0 0 66.666%;
    }
    .flex-sm-2{
        flex: 0 0 50%;
    }
    .flex-sm-3{
        flex: 0 0 33.333%;
    }
    .flex-sm-4{
        flex: 0 0 25%;
    }
    .flex-sm-30p{
        flex: 0 0 30%;
    }
    .flex-sm-20p{
        flex: 0 0 20%;
    }
}

/* md - Medium devices (tablets - 768px and up) */
@media (min-width: 768px) {
    .flex-md-1{
        flex: 0 0 100%;
    }
    .flex-md-80p{
        flex: 0 0 80%;
    }
    .flex-md-70p{
        flex: 0 0 70%;
    }
    .flex-md-66p{
        flex: 0 0 66.666%;
    }
    .flex-md-2{
        flex: 0 0 50%;
    }
    .flex-md-3{
        flex: 0 0 33.333%;
    }
    .flex-md-4{
        flex: 0 0 25%;
    }
    .flex-md-30p{
        flex: 0 0 30%;
    }
    .flex-md-20p{
        flex: 0 0 20%;
    }
}

/* lg - Large devices (laptops - 1024px and up) */
@media (min-width: 1024px) {
    .flex-lg-1{
        flex: 0 0 100%;
    }
    .flex-lg-80p{
        flex: 0 0 80%;
    }
    .flex-lg-70p{
        flex: 0 0 70%;
    }
    .flex-lg-66p{
        flex: 0 0 66.666%;
    }
    .flex-lg-2{
        flex: 0 0 50%;
    }
    .flex-lg-3{
        flex: 0 0 33.333%;
    }
    .flex-lg-4{
        flex: 0 0 25%;
    }
    .flex-lg-30p{
        flex: 0 0 30%;
    }
    .flex-lg-20p{
        flex: 0 0 20%;
    }
}

/* xl - Extra large devices (desktop & big laptops - 1441px and up) */
@media (min-width: 1441px) {
    .flex-xl-1{
        flex: 0 0 100%;
    }
    .flex-xl-80p{
        flex: 0 0 80%;
    }
    .flex-xl-70p{
        flex: 0 0 70%;
    }
    .flex-xl-66p{
        flex: 0 0 66.666%;
    }
    .flex-xl-2{
        flex: 0 0 50%;
    }
    .flex-xl-3{
        flex: 0 0 33.333%;
    }
    .flex-xl-4{
        flex: 0 0 25%;
    }
    .flex-xl-30p{
        flex: 0 0 30%;
    }
    .flex-xl-20p{
        flex: 0 0 20%;
    }
}

/*--------------------------------------------------------------
    @media - Compressed Screens
--------------------------------------------------------------*/

/* Tablets compressed height */
@media screen and (max-width: 1023px) and (min-width: 768px) and (max-height: 733px) and (min-height: 0px) {

}

/* Laptops compressed height */
@media screen and (max-width: 1440px) and (min-width: 1024px) and (max-height: 775px) and (min-height: 0px) {

}

/* Desktop compressed height */
@media screen and (max-width: 1441000px) and (min-width: 1441px) and (max-height: 775px) and (min-height: 0px) {

}

/*--------------------------------------------------------------
    @media - Desktop First
--------------------------------------------------------------*/

/* xl - Extra large devices (desktop & big laptops - 1441px and up) */

/* lg - Large devices (laptops - 1440px and down) */
/* @media (max-width: 1440px) {} */

/* md - Medium devices (tablets - 1023px and down) */
/* @media (max-width: 1023px) {} */

/* sm - Small devices (landscape phones - 767px and down) */
/* @media (max-width: 767px) {} */

/* xs - Extra Small devices (phones - 575px and down) */
/* @media (max-width: 575px) {} */