*, *::after, *::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-style: italic;

}

h2{
    font-family: 'poppinsextralight';

}






/*--------------------------------------------------------------
@Media Quiery - Portatil
--------------------------------------------------------------*/


@media screen and (max-width: 1440px) {


    /*--------------------------------------------------------------
    # header - Portatil
    --------------------------------------------------------------*/


}


/*--------------------------------------------------------------
@Media Quiery - PC Small Screen
--------------------------------------------------------------*/


@media screen and (max-width: 1200px) {


    /*--------------------------------------------------------------
    # header - PC Small Screen
    --------------------------------------------------------------*/


}


/*--------------------------------------------------------------
@Media Quiery - Tablet
--------------------------------------------------------------*/


@media screen and (max-width: 1024px) {


    /*--------------------------------------------------------------
    # header - Tablet
    --------------------------------------------------------------*/


}


/*--------------------------------------------------------------
@Media Quiery - Mobile
--------------------------------------------------------------*/


@media screen and (max-width: 576px) {


    /*--------------------------------------------------------------
    # header - Mobile
    --------------------------------------------------------------*/


}