
body{

    .accordion-body{
        display: none;
        padding: 24px 32px;
        border-radius: var(--border-radius);
        background-color: var(--color-primary-10);
        -webkit-backdrop-filter: saturate(180%) blur(48px);
        backdrop-filter: saturate(180%) blur(48px);
        margin-bottom: 24px;

        &.active{

            .container-section{
                opacity: 1;
            }
        }

        .container-section{
            opacity: 0;
            display: flex;
            flex-wrap: wrap;
            transition: var(--transition);

            .section{
                flex: 1;
                display: flex;
                flex-direction: column;

                width: fit-content;
                height: auto;

                padding-left: 44px;
                border-right: 1px solid var(--color-primary-10);

                &:first-of-type{
                    padding-left: 0;
                    margin-left: 0;
                }

                &:last-of-type{
                    margin-right: 0;
                    border-right: none;
                }

                h3{
                    margin-top: 0;
                    margin-bottom: 18px;
                    display: flex;
                }

                .container-checkbox{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    height: 200px;
                }
            }

            .container-input{
                display: flex;
                margin-right: 44px;

                &:last-of-type{
                    margin-bottom: unset;
                }
            }

            &.active{
                opacity: 1;
                pointer-events: all;
            }
        }
    }
}
