
button,
a.button{
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    width: max-content;
    width: fit-content;

    font-size: 14px;
    font-weight: 500;

    padding: 12px 24px;

    white-space: nowrap;
    border: none;
    border-radius: var(--border-radius);

    cursor: pointer;
    transition: var(--transition);

    svg{
        margin-left: -4px;

        // .icon-arrow{
        //     margin-left: ?px;
        // }
    }

    &.button-100{
        width: 100%;
    }

    &.button-primary{
        color: var(--color-white);
        background-color: var(--color-primary);

        &:hover{
            background-color: var(--color-primary-110);
        }

        &:active,
        &:focus{
            background-color: var(--color-primary-120);
        }
    }

    &.button-secondary{
        color: var(--color-primary);
        background-color: transparent;

        border: solid var(--border-width) var(--color-primary);

        &:hover{
            background-color: var(--color-primary-10);
        }

        &:active,
        &:focus{
            background-color: var(--color-primary-20);
        }
    }

    &.button-tertiary{
        color: var(--color-primary);
        background-color: transparent;

        &:hover{
            background-color: var(--color-primary-10);
        }

        &:active,
        &:focus{
            background-color: var(--color-primary-20);
        }
    }

    &.inactive{
        background-color: var(--color-state-inactive);

        pointer-events: none;

        &:hover,
        &:active,
        &:focus{
            outline: none;
            background-color: var(--color-state-inactive);
        }
    }
}

a.button{

    &:hover{
        text-decoration: none;
    }
}
