
button{
    border: none;
}

.button-primary,
.button-secondary,
.button-tertiary,
.button-back-to-top{
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    width: max-content;
    width: fit-content;

    font-size: 14px;
    font-weight: 500;

    padding: 12px 24px;

    white-space: nowrap;
    border-radius: var(--border-radius);

    cursor: pointer;
    transition: var(--transition);

    svg{
        margin-left: -4px;

        // .icon-arrow{
        //     margin-left: ?px;
        // }
    }
}

a.button{

    &:hover{
        text-decoration: none;
    }
}

.button-100{
    width: 100%;
}

.button-primary{
    color: var(--color-white);
    background-color: var(--color-primary);

    &:hover{
        background-color: var(--color-primary-110);
    }

    &:active,
    &:focus{
        background-color: var(--color-primary-120);
    }

    &.inactive{
        color: #d0d0d0;
        background-color: #f0f0f0;

        pointer-events: none;
        outline: none;
    }
}

.button-secondary{
    color: var(--color-primary);
    background-color: transparent;

    border: solid var(--border-width) var(--color-primary);

    &:hover{
        background-color: var(--color-primary-10);
    }

    &:active,
    &:focus{
        background-color: var(--color-primary-20);
    }

    &.inactive{
        color: #d0d0d0;
        background-color: #f9f9f9;
        border: solid var(--border-width) #d0d0d0;

        pointer-events: none;
        outline: none;
    }
}

.button-tertiary{
    color: var(--color-primary);
    background-color: transparent;

    &:hover{
        background-color: var(--color-primary-10);
    }

    &:active,
    &:focus{
        background-color: var(--color-primary-20);
    }

    &.inactive{
        color: #d0d0d0;

        pointer-events: none;
        outline: none;
    }
}
