
a.button{

    &.button-back-to-top{
        position: fixed;
        right: 48px;
        bottom: 48px;

        color: var(--color-primary);
        background-color: var(--color-primary-10);
        -webkit-backdrop-filter:saturate(180%) blur(48px);
        backdrop-filter: saturate(180%) blur(48px);


        opacity: 0;
        border-radius: var(--border-radius);
        pointer-events: none;
        transition: var(--transition);

        svg.icon{
            height: 14px;

            margin-right: 12px;

            transform: translateY(-1px) rotate(-90deg);
            transition: var(--transition);

            polyline{
                stroke: var(--color-primary);
                transition: var(--transition);
            }
        }

        &:hover,
        &:active,
        &:focus{

            box-shadow: var(--color-hover-button);

            svg.icon{
                transform: translateY(-3px) rotate(-90deg);
            }
        }
    }
}
