
i.icon-info{
    position: absolute;
    right: -36px;
    top: -8px;
    min-width: 18px;
    min-height: 18px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 8px;
    transition: none;
    background-image: url(../../../icons/letter-i.svg);
    cursor: pointer;
}

button{

    &.button-tertiary{

        &.active {

            i.icon-info{
                filter: brightness(1);
            }
        }
    }
}
