
label{
    user-select: none;

    &[for^="checkbox"]{
        flex: 1;

        padding-left: 14px;

        color: var(--color-primary);
        font-weight: 400;

        cursor: pointer;
    }
}
