.slider{
    position: relative;
    width: 100%;
    overflow: hidden;

    .gradient-right{
        z-index: 1;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 64px;
        opacity: 0;
        pointer-events: none;
        background: var(--color-background-gradient-body-left-right);
        transition: var(--transition);

        &.active{
            opacity: 1;
        }
    }

    .gradient-left{
        z-index: 1;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 64px;
        opacity: 0;
        pointer-events: none;
        background: var(--color-background-gradient-body-right-left);
        transition: var(--transition);

        &.active{
            opacity: 1;
        }
    }

    .button-slider{
        position: absolute;
        top: 42px;
        width: 54px;
        height: 54px;
        border-radius: 50px;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        cursor: pointer;
        background-color: rgba(0,0,0,.24);
        pointer-events: none;
        transform: translate(0, -50%) scale(0.9);
        transition: var(--transition);

        &:hover{
            transform: translate(0, -50%) scale(1);
            background-color: rgba(0,0,0,.32);
        }

        &:active{
            transform: translate(0, -50%) scale(1);
            background-color: rgba(0,0,0,.44);
        }

        &.active{
            opacity: 1;
            pointer-events: all;
        }

        &.left{
            left: 30px;
        }

        &.right{
            right: 30px;
        }

        .icon-slider{
            display: flex;
            align-items: center;
            justify-content: center;
            pointer-events: none;

            svg{
                height: 22px;
            }

            &.left{
                transform: scale(0.9) rotate(180deg);

                &:hover,
                &:active{
                    transform: scale(1) rotate(180deg);
                }
            }
        }
    }
}

/* lg - Large devices (small laptops & big tablets - 992px and up) (992px - 1199px) */
@media (min-width: 992px) {

    .slider{

        .gradient-left{
            background: var(--color-background-gradient-body-left-right-desktop);
        }
    }
}
