.badge-container {
  display: flex;
  flex-wrap: wrap;

  gap: 16px;
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 8px 14px;
  height: fit-content;

  background-color: #ccdcf1;
  color: #334155;

  font-size: 12px;
  font-weight: 500;
  text-wrap: nowrap;

  border: solid 2px transparent;
  border-radius: var(--border-radius-50);

  cursor: pointer;
  transition: var(--transition);

  &:active,
  &:focus,
  &:hover {
    border: solid 2px #33415520;
  }

  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &[data-type="contrast"] {

    p {
      font-size: 12px;
      font-weight: 800;

      background: inherit;

      -webkit-background-clip: text;
      background-clip: text;

      color: transparent;

      filter: invert(1) grayscale(1) contrast(10);
      opacity: 100%;
    }
  }

  &[data-type="html"] {
    color: #794f00;
    background-color: #ffd17d;

    &:active,
    &:focus,
    &:hover {
      border: solid 2px #794f0020;
    }
  }

  &[data-type="css"] {
    color: #103a9d;
    background-color: #80ccff;

    &:active,
    &:focus,
    &:hover {
      border: solid 2px #103a9d20;
    }
  }

  &[data-type="sass"] {
    color: #9f0452;
    background-color: #f8aad1;

    &:active,
    &:focus,
    &:hover {
      border: solid 2px #9f045220;
    }
  }

  &[data-type="javascript"] {
    color: #835500;
    background-color: #fff07e;

    &:active,
    &:focus,
    &:hover {
      border: solid 2px #83550020;
    }
  }

  &[data-type="jquery"] {
    color: #0836ae;
    background-color: #b0c4f1;

    &:active,
    &:focus,
    &:hover {
      border: solid 2px #0836ae20;
    }
  }

  &[data-type="react"] {
    color: #11748f;
    background-color: #99e9ff;

    &:active,
    &:focus,
    &:hover {
      border: solid 2px #11748f20;
    }
  }

  &[data-type="git"] {
    color: #9b210b;
    background-color: #ffad9d;

    &:active,
    &:focus,
    &:hover {
      border: solid 2px #9b210b20;
    }
  }
}