/*Mobile First*/

.slider{
  position: relative;
  display: flex;
  width: 100%;
  transition: var(--transition);

  &[disabled]{
      opacity: 0.15;
      pointer-events: none;
      user-select: none;
  }

  .slider-gradient{
      z-index: 1;
      position: absolute;
      top: 0;
      height: 100%;
      width: 64px;
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);

      &.right{
          right: -1px;
          background: linear-gradient(-90deg, var(--color-background-primary) 0%, rgba(255, 255, 255, 0) 100%);
      }
      
      &.left{
          left: -1px;
          background: linear-gradient(90deg, var(--color-background-primary) 0%, rgba(255, 255, 255, 0) 100%);
      }

      &.status-active{
          opacity: 1;
      }
  }

  .slider-button{
      position: absolute;
      top: 50%;
      width: 48px;
      height: 48px;
      border-radius: 50px;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      cursor: pointer;
      background-color: var(--color-black-toggle-24);;
      pointer-events: none;
      transform: translate(0, -50%) scale(0.9);
      transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);

      &.status-active{
        opacity: 1;
        pointer-events: all;
      } 

      &:hover,
      &:active{
          transform: translate(0, -50%) scale(1);
      }

      &:hover{
          background-color: var(--color-black-toggle-32);
      }

      &:active{
          background-color: var(--color-black-toggle-44);
      }

      &.left{
          left: 14px;
      }

      &.right{
          right: 14px;
      }

      .slider-icon-container{
          position: relative;

          display: flex;
          align-items: center;
          justify-content: center;
          pointer-events: none;
                        
          width: 21px;
          height: 21px;

          &.left{
            left: 10%;
          }

          &.right{
            left: 3%;
          }
          
          svg{
            fill: #ffffff;
          }
      }
  }

  .slider-element-container{
      display: flex;
      overflow: auto;
  
      &::-webkit-scrollbar {
          width: 0px;
          height: 0px;
      }

      &::-webkit-scrollbar-thumb {
          background: transparent;
      }
  }
}
