
button{
    border: none;
}

a.button-primary,
a.button-secondary,
a.button-tertiary,
a.button-back-to-top{

    &:hover{
        text-decoration: none;
    }
}

.button-primary,
.button-secondary,
.button-tertiary,
.button-back-to-top{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 36px;
    width: max-content;
    width: fit-content;

    font-size: 14px;
    font-weight: 500;

    padding: 12px 16px;

    white-space: nowrap;
    border-radius: var(--border-radius);

    outline: none;
    cursor: pointer;
    transition: var(--transition);

    &.inactive{
        outline: none;
        cursor: not-allowed;
    }

    &.button-100{
        width: 100%;
    }

    &:active,
    &:focus,
    &:hover{

        > svg{

            &.icon-right{

                &.icon-arrow{
                    transform: translate(3px, 0);
                }
            }

            &.icon-left{

                &.icon-arrow{
                    transform: rotate(180deg) translate(3px, 0);
                }
            }
        }
    }

    > svg{
        fill: var(--color-primary);
        transition: var(--transition);

        &.icon-right{
            margin-left: 8px;
            margin-right: -4px;
        }

        &.icon-left{
            margin-right: 8px;
            margin-left: -4px;

            &.icon-arrow{
                transform: rotate(180deg) translate(0, 0);
            }
        }

        &.icon-document{
            height: 22px;
            width: 22px;
            margin-left: -5px;
        }

        &.icon-email{
            height: 19px;
            width: 19px;
        }

        &.icon-search{
            height: 20px;
            width: 20px;
        }

        &.icon-arrow{
            height: 14px;
            width: 14px;
        }

        &.icon-upload{
            height: 13px;
            width: 13px;
        }

        &.icon-close{
            height: 13px;
            width: 13px;
        }
    }

    .loader{
        position: absolute;

        > div{
            background-color: #ffffff;
        }
    }
}

.button-primary{
    color: var(--color-white);
    background-color: var(--color-primary);

    &:hover{
        background-color: var(--color-primary-110);
    }

    &:active,
    &:focus{
        background-color: var(--color-primary-120);
    }

    &.inactive{
        color: var(--color-inactive-text);
        background-color: var(--color-inactive-background);
    }

    svg{
        fill: #ffffff;
    }
}

.button-secondary{
    color: var(--color-primary);
    background-color: transparent;

    border: solid var(--border-width) var(--color-primary);

    &:hover{
        background-color: var(--color-primary-10);
    }

    &:active,
    &:focus{
        background-color: var(--color-primary-20);
    }

    &.inactive{
        color: var(--color-inactive-text);
        background-color: var(--color-inactive-background-10);
        border: solid var(--border-width) var(--color-inactive-text);
    }

    svg{
        fill: var(--color-primary);
    }
}

.button-tertiary{
    color: var(--color-primary);
    background-color: transparent;

    &:hover{
        background-color: var(--color-primary-10);
    }

    &:active,
    &:focus{
        background-color: var(--color-primary-20);
    }

    &.inactive{
        color: var(--color-inactive-text);

        &:hover,
        &:active,
        &:focus{
            background-color: transparent;
        }
    }
}
