
.card-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
}

.card{
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;

    padding: 24px;

    width: 100%;
    height: 248px;

    border: solid 2px transparent;
    border-radius: var(--border-radius);

    transition: var(--transition);

    &::after{
        content: '';
        z-index: -1;

        position: absolute;

        height: 50%;
        width: 50%;

        background-color: var(--color-primary-10);
        filter: blur(64px);
        opacity: 1;
        pointer-events: none;
        transition: var(--transition-x2);
    }

    &:hover{
        border: solid 2px var(--color-primary-10);
        box-shadow: 0 24px 24px -16px var(--color-primary-10);

        &::after{
            background-color: var(--color-primary-10);
            height: 100%;
            width: 100%;
        }
    }
}

/*--------------------------------------------------------------
    @media - Mobile First
--------------------------------------------------------------*/

// Tablet S / Tablet M (426px - 768px)
@media (min-width: 426px) {

}

// Tablet L / Laptop S (769px - 1200px)
@media (min-width: 769px) {

    body{

        .card-container{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

// Laptop M / Laptop L (1201px - 1440px)
@media (min-width: 1201px) {

    body{

        .card-container{
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

// Laptop XL / Desktop (1441px and beyond)
@media (min-width: 1441px) {

}
