
*{
    box-sizing: border-box;

    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;

    body{
        background-color: var(--color-background);
        color: var(--color-tipograpy);

        font-family: 'Poppins', sans-serif;

        transition: var(--transition);

        ::selection {
            color: var(--color-selection-text);
            background-color: var(--color-selection-background);
        }

        h2,
        h3{
            margin-bottom: 24px;
        }

        h2{

            font-size: 24px;
            font-weight: 600;
        }

        h3{
            font-size: 20px;
            font-weight: 500;
        }

        p{
            color: var(--color-tipograpy-70);

            font-size: 14px;
            line-height: 1.6;

            transition: var(--transition);
        }

        a{
            color: var(--color-primary);

            text-decoration: none;

            &:hover{
                text-decoration: underline;
            }
        }

        ul{

            li{
                list-style: none;
            }
        }

        .container-980,
        .container-1440{
            width: 100%;

            padding: 0 24px;
        }

        main{
            display: flex;
            flex-direction: column;
            align-items: center;

            min-height: 100vh;

            section{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                padding: 64px 0;
            }
        }
    }
}

/*--------------------------------------------------------------
    @media - Mobile First
--------------------------------------------------------------*/

/* sm - Small devices (landscape phones - 576px and up) (576px - 767px) */
@media (min-width: 576px) {

}

/* md - Medium devices (tablets - 768px and up) (768px - 991px) */
@media (min-width: 768px) {

}

/* lg - Large devices (small laptops & big tablets - 992px and up) (992px - 1199px) */
// @media (min-width: 992px) {

//     body{

//         .container-980{
//             max-width: 980px;
//         }
//     }

// }

/* xl - Large devices (laptops - 1200px and up) (1200px - 1440px) */
@media (min-width: 1200px) {

}

/* xxl - Extra extra large devices (desktop & big laptops - 1441px and up) (1441px - Infinity) */
@media (min-width: 1441px) {

    body{

        .container-1440{
            max-width: 1440px;
        }
    }

}
