.graphic {
  display: flex;
  flex-direction: column;

  [class^="skill"] {
    width: 160px;
    height: 160px;
    margin: auto;
    position: relative;
    transform: scale(0.88);

    .outer {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 160px;
      height: 160px;
      border-radius: 50%;
      padding: 0;
      box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
      transition: var(--transition);

      .inner {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
          inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
          -0.5px -0.5px 0px rgba(255, 255, 255, 1),
          0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
          0px 12px 10px -10px rgba(0, 0, 0, 0.05);
        transition: var(--transition);

        p#number {
          position: absolute;
          top: 51%;
          left: calc(50% + 7px);
          transform: translate(-50%, -50%);
          color: var(--color-typography);
          font-size: 28px;
          font-weight: 700;
          opacity: 100%;

          sup {
            top: -6px;
            vertical-align: baseline;
            font-size: 18px;
            font-weight: 400;
          }
        }
      }
    }

    svg {
      position: absolute;
      top: 0;
      left: 0;

      width: 160px;
      height: 160px;

      circle {
        fill: none;
        stroke-width: 20px;
        stroke-dasharray: 472;
        stroke-dashoffset: 472;
        transition: stroke-dashoffset 1.5s ease-in-out;
      }
    }
  }

  p.description {
    text-align: center;
  }

  .skill-0 {

    svg {

      circle {
        stroke: url(#gradient-color-0);
      }
    }
  }
}

body.dark-theme {

  .graphic {

    [class^="skill"] {

      .outer {
        box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
          -6px -6px 10px -1px rgba(0, 0, 0, 0.7);

        .inner {
          box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
            inset -4px -4px 6px -1px rgba(0, 0, 0, 0.7),
            -0.5px -0.5px 0px rgba(0, 0, 0, 1),
            0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
            0px 12px 10px -10px rgba(0, 0, 0, 0.05);
        }
      }
    }
  }
}