/*--------------------------------------------------------------
'Poppins'
--------------------------------------------------------------*/
/* Thin 100 */
@font-face {
    font-family: 'Poppins';
    src: url('poppins/poppins-thin-webfont.woff2') format('woff2'),
         url('poppins/poppins-thin-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

/* Thin 100 italic */
@font-face {
    font-family: 'Poppins';
    src: url('poppins/poppins-thinitalic-webfont.woff2') format('woff2'),
         url('poppins/poppins-thinitalic-webfont.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

/* Extra-light 200 */
@font-face {
    font-family: 'Poppins';
    src: url('poppins/poppins-extralight-webfont.woff2') format('woff2'),
         url('poppins/poppins-extralight-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

/* Extra-light 200 italic */
@font-face {
    font-family: 'Poppins';
    src: url('poppins/poppins-extralightitalic-webfont.woff2') format('woff2'),
         url('poppins/poppins-extralightitalic-webfont.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

/* Light 300 */
@font-face {
    font-family: 'Poppins';
    src: url('poppins/poppins-light-webfont.woff2') format('woff2'),
         url('poppins/poppins-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/* Light 300 italic */
@font-face {
    font-family: 'Poppins';
    src: url('poppins/poppins-lightitalic-webfont.woff2') format('woff2'),
         url('poppins/poppins-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

/* Regular 400 */
@font-face {
    font-family: 'Poppins';
    src: url('poppins/poppins-regular-webfont.woff2') format('woff2'),
         url('poppins/poppins-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* Regular 400 italic */
@font-face {
    font-family: 'Poppins';
    src: url('poppins/poppins-italic-webfont.woff2') format('woff2'),
         url('poppins/poppins-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

/* Medium 500 */
@font-face {
    font-family: 'Poppins';
    src: url('poppins/poppins-medium-webfont.woff2') format('woff2'),
         url('poppins/poppins-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

/* Medium 500 italic */
@font-face {
    font-family: 'Poppins';
    src: url('poppins/poppins-mediumitalic-webfont.woff2') format('woff2'),
         url('poppins/poppins-mediumitalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

/* Semi-bold 600 */
@font-face {
    font-family: 'Poppins';
    src: url('poppins/poppins-semibold-webfont.woff2') format('woff2'),
         url('poppins/poppins-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

/* Semi-bold 600 italic */
@font-face {
    font-family: 'Poppins';
    src: url('poppins/poppins-semibolditalic-webfont.woff2') format('woff2'),
         url('poppins/poppins-semibolditalic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

/* Bold 700 */
@font-face {
    font-family: 'Poppins';
    src: url('poppins/poppins-bold-webfont.woff2') format('woff2'),
         url('poppins/poppins-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/* Bold 700 italic */
@font-face {
    font-family: 'Poppins';
    src: url('poppins/poppins-bolditalic-webfont.woff2') format('woff2'),
         url('poppins/poppins-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

/* Extra-bold 800 */
@font-face {
    font-family: 'Poppins';
    src: url('poppins/poppins-extrabold-webfont.woff2') format('woff2'),
         url('poppins/poppins-extrabold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

/* Extra-bold 800 italic */
@font-face {
    font-family: 'Poppins';
    src: url('poppins/poppins-extrabolditalic-webfont.woff2') format('woff2'),
         url('poppins/poppins-extrabolditalic-webfont.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

/* Black 900 */
@font-face {
    font-family: 'Poppins';
    src: url('poppins/poppins-black-webfont.woff2') format('woff2'),
         url('poppins/poppins-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

/* Black 900 italic */
@font-face {
    font-family: 'Poppins';
    src: url('poppins/poppins-blackitalic-webfont.woff2') format('woff2'),
         url('poppins/poppins-blackitalic-webfont.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}