@import "../colors/_colors.scss";
@import "../utils/_variables.scss";

body{

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
        padding: 0 50px;
        
        section{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 100px 0px;
        }
    }

    .container-1000{
        max-width: 1000px;
    }
}

/*--------------------------------------------------------------
@media - Mobile First
--------------------------------------------------------------*/

/* sm - Small devices (landscape phones - 576px and up) (576px - 767px) */
@media (min-width: 576px) {
    
}

/* md - Medium devices (tablets - 768px and up) (768px - 991px) */
@media (min-width: 768px) {
    
}

/* lg - Large devices (small laptops & big tablets - 992px and up) (992px - 1199px) */
@media (min-width: 992px) {
    
    body{

        main{
            padding: 0;
        }
    }
}

/* xl - Large devices (laptops - 1200px and up) (1200px - 1440px) */
@media (min-width: 1200px) {
    
}

/* xxl - Extra extra large devices (desktop & big laptops - 1441px and up) (1441px - Infinity) */
@media (min-width: 1441px) {
    
}