
body{

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
        padding-top: 64px;
        transition: var(--transition);
    }

    .container-1440{
        width: 100%;
        padding: 0 24px;
    }
}

/*--------------------------------------------------------------
@media - Mobile First
--------------------------------------------------------------*/

/* sm - Small devices (landscape phones - 576px and up) (576px - 767px) */
@media (min-width: 576px) {

}

/* md - Medium devices (tablets - 768px and up) (768px - 991px) */
@media (min-width: 768px) {

}

/* lg - Large devices (small laptops & big tablets - 992px and up) (992px - 1199px) */
@media (min-width: 992px) {

}

/* xl - Large devices (laptops - 1024px and up) (1024px - 1440px) */
@media (min-width: 1024px) {

}

/* xxl - Extra extra large devices (desktop & big laptops - 1441px and up) (1441px - Infinity) */
@media (min-width: 1441px) {

    body{

        .container-1440{
            box-sizing: border-box;
            max-width: 1440px;
        }
    }
}
