button {
  border: none;
}

.button-primary,
.button-secondary,
.button-tertiary,
.button-back-to-top {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  width: fit-content;
  font-size: 14px;
  font-weight: 500;
  padding: 12px 24px;
  white-space: nowrap;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transition);
}
.button-primary svg,
.button-secondary svg,
.button-tertiary svg,
.button-back-to-top svg {
  margin-left: -4px;
}

a.button:hover {
  text-decoration: none;
}

.button-100 {
  width: 100%;
}

.button-primary {
  color: var(--color-white);
  background-color: var(--color-primary);
}
.button-primary:hover {
  background-color: var(--color-primary-110);
}
.button-primary:active, .button-primary:focus {
  background-color: var(--color-primary-120);
}
.button-primary.inactive {
  color: var(--color-inactive-text);
  background-color: var(--color-inactive-background);
  pointer-events: none;
  outline: none;
}

.button-secondary {
  color: var(--color-primary);
  background-color: transparent;
  border: solid var(--border-width) var(--color-primary);
}
.button-secondary:hover {
  background-color: var(--color-primary-10);
}
.button-secondary:active, .button-secondary:focus {
  background-color: var(--color-primary-20);
}
.button-secondary.inactive {
  color: var(--color-inactive-text);
  background-color: var(--color-inactive-background-10);
  border: solid var(--border-width) var(--color-inactive-text);
  pointer-events: none;
  outline: none;
}

.button-tertiary {
  color: var(--color-primary);
  background-color: transparent;
}
.button-tertiary:hover {
  background-color: var(--color-primary-10);
}
.button-tertiary:active, .button-tertiary:focus {
  background-color: var(--color-primary-20);
}
.button-tertiary.inactive {
  color: var(--color-inactive-text);
  pointer-events: none;
  outline: none;
}

body.light-theme .button-theme i.light-theme {
  opacity: 1;
}
body.dark-theme .button-theme i.dark-theme {
  opacity: 1;
}

.button-theme {
  position: fixed;
  right: 0;
  display: flex;
  justify-content: center;
  height: 64px;
  width: 64px;
  cursor: pointer;
}
.button-theme i {
  z-index: 1;
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
  background-position: center;
}
.button-theme.button-theme i.light-theme,
.button-theme.button-theme i.dark-theme {
  position: absolute;
  display: flex;
  opacity: 0;
  transition: var(--transition);
}
.button-theme.button-theme i.light-theme {
  background-image: url(../../../icons/sun.svg);
  background-size: 46%;
}
.button-theme.button-theme i.dark-theme {
  background-image: url(../../../icons/moon.svg);
  background-size: 46%;
}

.button-back-to-top {
  position: fixed;
  right: 48px;
  bottom: 24px;
  color: var(--color-primary);
  background-color: var(--color-primary-10);
  opacity: 0;
  pointer-events: none;
  border-radius: var(--border-radius);
  transition: var(--transition);
}
.button-back-to-top.active {
  bottom: 48px;
  opacity: 1;
  pointer-events: all;
}
.button-back-to-top svg.icon {
  height: 14px;
  margin-right: 12px;
  transform: translateY(-1px) rotate(-90deg);
  transition: var(--transition);
}
.button-back-to-top svg.icon polyline {
  stroke: var(--color-primary);
  transition: var(--transition);
}
.button-back-to-top:hover {
  background-color: var(--color-primary-20);
}
.button-back-to-top:hover svg.icon {
  transform: translateY(-3px) rotate(-90deg);
}
.button-back-to-top:active, .button-back-to-top:focus {
  background-color: var(--color-primary-30);
}

input[type=search] {
  border: none;
  outline: none;
}
input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  display: none;
}
input[type=search]::-ms-clear, input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input[type=search]::placeholder {
  color: var(--color-white);
  opacity: 0.64;
}

.container-input {
  display: flex;
  margin-bottom: 12px;
}
.container-input input[type=checkbox] {
  appearance: none;
  width: 18px;
  height: 18px;
  border: solid var(--border-width) var(--color-primary);
  border-radius: 3px;
  cursor: pointer;
  transition: var(--transition);
}
.container-input input[type=checkbox]:checked {
  background-color: var(--color-primary);
  border: var(--color-primary);
}
.container-input input[type=checkbox]:checked ~ label {
  color: var(--color-primary);
}
.container-input input[type=checkbox]:not(:checked) {
  background-color: transparent;
}
.container-input input[type=checkbox]:hover ~ label {
  color: var(--color-primary);
}
.container-input:hover input[type=checkbox] {
  background-color: var(--color-primary-10);
}
.container-input:hover input[type=checkbox]:checked {
  background-color: var(--color-primary);
  border: var(--color-primary);
}

label {
  user-select: none;
}
label[for^=checkbox] {
  flex: 1;
  padding-left: 14px;
  color: var(--color-primary);
  font-weight: 400;
  cursor: pointer;
}

body .container-loader {
  z-index: 1;
  display: flex;
  position: fixed;
  left: 50%;
  bottom: 40px;
  transform: translate(-50%, -50%) scale(0.64);
  opacity: 0;
  transition: var(--transition);
}
body .container-loader .loader div {
  background-color: var(--color-primary);
}
body .container-loader.active {
  opacity: 1;
}

body .loader {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
body .loader div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
body .loader div:nth-child(1) {
  left: 8px;
  animation: loader-ellipsis1 0.6s infinite;
}
body .loader div:nth-child(2) {
  left: 8px;
  animation: loader-ellipsis2 0.6s infinite;
}
body .loader div:nth-child(3) {
  left: 32px;
  animation: loader-ellipsis2 0.6s infinite;
}
body .loader div:nth-child(4) {
  left: 56px;
  animation: loader-ellipsis3 0.6s infinite;
}
@keyframes loader-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loader-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

html {
  /* Firefox */
  scrollbar-color: var(--color-scrollbar-thumb) var(--color-background);
}

/* Width */
::-webkit-scrollbar {
  width: 14px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar-thumb);
  border: solid 4px var(--color-background);
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-scrollbar-thumb);
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/*# sourceMappingURL=index.css.map */
