.state-tooltip {
  position: relative;

  &:hover {

    .tooltip {
      opacity: 100%;

      transition: all 0.1s ease-in;

      &.top {
        top: -10px;
      }

      &.right {
        right: -10px;
      }

      &.bottom {
        bottom: -10px;
      }

      &.left {
        left: -10px;
      }
    }
  }
}

.tooltip {
  z-index: 1;

  position: absolute;

  display: initial;

  padding: 6px 8px;
  margin: initial;

  color: var(--color-white-toggle);
  background-color: var(--color-black-toggle);

  font-size: 11px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;

  border-radius: var(--border-radius);

  opacity: 0%;

  pointer-events: none;
  user-select: none;

  transition: var(--transition);

  &.top {
    top: -6px;
    right: initial;
    bottom: initial;
    left: 50%;
    transform: translate(-50%, -100%);
  }

  &.right {
    top: 50%;
    right: -6px;
    bottom: initial;
    left: initial;
    transform: translate(100%, -50%);
  }

  &.bottom {
    top: initial;
    right: initial;
    bottom: -6px;
    left: 50%;
    transform: translate(-50%, 100%);
  }

  &.left {
    top: 50%;
    right: initial;
    bottom: initial;
    left: -6px;
    transform: translate(-100%, -50%);
  }
}