body {

  .initial-animation {
    z-index: 100;

    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100%;

    background-color: var(--color-background-primary);

    opacity: 0;
    pointer-events: none;
    transition: var(--transition-x4);

    &.status-active {
      opacity: 1;
      pointer-events: all;
    }
  }
}

@keyframes reveal-cards-when-scrolling {

  from {
    opacity: 0;
    transform: translate(0, 64px);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}